

@mixin animate($animation,$duration,$method,$times){
    animation: $animation $duration $method $times;
  }
  
  @mixin keyframes($name){
    @keyframes #{$name}{
        @content;
    }
  }
  
  @include keyframes(fade){
    from{ opacity: 0;}
   to{ opacity: 1; }
  }

 
